<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CampusRun</title>
    <link rel="shortcut icon" href="TemplateDataGameView/favicon.ico" />
    <link rel="stylesheet" href="TemplateDataGameView/style.css" />
    <link rel="stylesheet" href="../static/css/progressbar.css" />
    <link rel="stylesheet" href="../static/css/gameresult.css" />
    <!-- <link rel="stylesheet" href="TemplateDataGameView/progressbar.css" /> -->
    <script src="TemplateDataGameView/UnityProgress.js"></script>
    <script src="BuildGameView/UnityLoader.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>
    <script>
      var unityInstance = UnityLoader.instantiate(
        "unityContainer",
        "BuildGameView/Downloads.json",
        { onProgress: UnityProgress }
      );
    </script>
  </head>
  <body>
    <div class="progressview" style="display: none;">
      <img src="../Assets/image/logo-long-black.png" class="logo-left" onclick="location.href='/home'">
      <div class="progresstext">LOADING...</div>
      <img src="../TemplateDataPlaza/wheel.png" class="tire tire-rotate">
    </div>

    <div class="webgl-content" style="margin: 0;">
      <div id="unityContainer" style="width: 100vw; height: 100vh"></div>
    </div>
    <button class="start-btn" id="btn_id" onclick="emitJoin()" style="display: none;">
      START GAME
    </button>

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="ranking-title">
          WIN
        </div>
        <div class="ranking-body">
          <table>
            <thead>
              <tr>
                <td>순위</td>
                <td>닉네임</td>
                <td>대학교</td>
                <td>랩타임</td>
              </tr>
            </thead>
            <tbody>
              <tr class="spacer">
                <td>&nbsp;</td>
              </tr>
                <tr>
                  <td style="color: yellow;">1</td>
                  <td style="color: yellow;">오지영</td>
                  <td style="color: yellow;"><%= univName %></td>
                  <td style="color: yellow;">3분 23초</td>
                </tr>
                <tr>
                  <td style="color: rgb(255, 255, 110);">2</td>
                  <td style="color: rgb(255, 255, 110);">오지영</td>
                  <td style="color: rgb(255, 255, 110);"><%= univName %></td>
                  <td style="color: rgb(255, 255, 110);">3분 23초</td>
                </tr>
                <tr>
                  <td style="color: rgb(255, 255, 168);">3</td>
                  <td style="color: rgb(255, 255, 168);">오지영</td>
                  <td style="color: rgb(255, 255, 168);"><%= univName %></td>
                  <td style="color: rgb(255, 255, 168);">3분 23초</td>
                </tr>
                <% for(let i=4; i<9; i++) { %>
              <tr>
                <td><%= i %></td>
                <td>오지영</td>
                <td><%= univName %></td>
                <td>3분 23초</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="winner">
          WINNER
        </div>
        <div class="univ-logo">
          <img src="../TemplateDataGameView/cau.png">
        </div>
        <button class="close-btn" onClick="close_pop();">CLOSE</button>
      </div>
 
    </div>

  </body>
    <div class="KAKAOID" style="display: none"><%= kakaoId %></div>
  </body>
  <script src="../static/js/gameManager.js"></script>
</html>
