<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CampusRun</title>
    <link rel="shortcut icon" href="TemplateDataPlaza/favicon.ico" />
    <link rel="stylesheet" href="TemplateDataPlaza/style.css" />
    <link rel="stylesheet" href="TemplateDataPlaza/plaza_style.css" />
    <link rel="stylesheet" href="../static/css/chat.css" />
    <link rel="stylesheet" href="../static/css/room.css" />
    <link rel="stylesheet" href="../static/css/modal.css" />
    <link rel="stylesheet" href="../static/css/invite.css" />
    <link rel="stylesheet" href="../static/css/progressbar.css" />
    <link rel="stylesheet" href="../static/css/publicRoom.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>
    <script src="TemplateDataPlaza/UnityProgress.js"></script>
    <script src="BuildPlaza/UnityLoader.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="../static/js/ajaxRequest.js"></script>
    <script src="../static/js/invite.js"></script>
    <script src="../static/js/publicRoom.js"></script>

    <!-- for UnityScene -->
    <script>
      var unityInstance = UnityLoader.instantiate(
        "unityContainer",
        "BuildPlaza/Downloads.json",
        { onProgress: UnityProgress }
      );
    </script>
  </head>
  <body>
    <!-- for Chatting Section -->

    <div id="chatWrap" class="app__wrap" style="float: right; display: none">
      <div id="info" class="app__info"></div>
      <div id="chatWindow" class="app__window"></div>
      <div class="app__input__wrap">
        <input
          id="chatInput"
          type="text"
          class="app__input"
          autofocus
          placeholder="대화를 입력해주세요."
        />
        <button id="chatMessageSendBtn" class="app__button">전송</button>
      </div>
    </div>

    <div id="roomWrap" class="room__wrap" style="display: none">
      <button
        class="createroom-btn"
        data-bs-toggle="modal"
        data-bs-target="#publicRoomModal"
        data-bs-whatever="@mdo"
      >
        방만들기
      </button>
      <button
        class="inviteroom-btn"
        data-bs-toggle="modal"
        data-bs-target="#privateRoomModal"
        data-bs-whatever="@mdo"
      >
        초대하기
      </button>
      <button
        class="roomlist-btn"
        data-bs-toggle="modal"
        data-bs-target="#publicRoomListModal"
        data-bs-whatever="@mdo"
      >
        방리스트
      </button>
    </div>

    <!-- Private Room Modal -->
    <div
      class="modal fade"
      id="privateRoomModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">방 만들기</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form method="POST" name="roomMake">
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label"
                  >게임방 제목</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="recipient-name"
                  name="title"
                />
                <label for="recipient-name" class="col-form-label"
                  >참가인원</label
                >
                <select class="numOfParty" name="numOfParty">
                  <option value="1:1">1 : 1</option>
                  <option value="2:2">2 : 2</option>
                  <option value="3:3">3 : 3</option>
                  <option value="4:4">4 : 4</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label"
                  >사용자 이름 검색</label
                >
                <input
                  type="text"
                  class="form-control user-search"
                  id="recipient-name"
                  name="user-search"
                />
                <div class="user-search-result"></div>
              </div>

              <div class="entry-board">
                <div class="home-entry">
                  <div class="entry-univ">
                    Home Univ :
                    <span class="entry-univ-span"></span>
                  </div>
                  <div class="entry-body home-entry-body"></div>
                </div>
                <div class="away-entry">
                  <div class="entry-univ">
                    Away Univ :
                    <span class="entry-univ-span"></span>
                  </div>
                  <div class="entry-body away-entry-body"></div>
                </div>
              </div>
              <div class="modal-body-tail"></div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-primary room-create-action"
              onclick="createRoomAction()"
            >
              만들기
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              취소
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Public Room Modal -->
    <div
      class="modal fade"
      id="publicRoomModal"
      tabindex="-1"
      aria-labelledby="publicRoomModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">방 만들기</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form method="POST" name="roomMake">
              <div class="mb-3">
                <label for="public-recipient-name" class="col-form-label"
                  >게임방 제목</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="public-recipient-name"
                  name="title"
                />
                <label for="recipient-name" class="col-form-label"
                  >참가인원</label
                >
                <select class="public-numOfParty" name="numOfParty">
                  <option value="1:1">1 : 1</option>
                  <option value="2:2">2 : 2</option>
                  <option value="3:3">3 : 3</option>
                  <option value="4:4">4 : 4</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-primary room-create-action"
              onclick="createPublicRoomAction()"
            >
              만들기
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              취소
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Public Room List Modal -->
    <div
      class="modal fade"
      id="publicRoomListModal"
      tabindex="-1"
      aria-labelledby="publicRoomModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">입장 가능 목록</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- List body -->
            <div class="room-list"></div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              취소
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="progressview">
      <img
        src="../Assets/image/logo-long-black.png"
        class="logo-left"
        onclick="location.href='/home'"
      />
      <div class="progresstext">LOADING...</div>
      <img src="../TemplateDataPlaza/wheel.png" class="tire tire-rotate" />
    </div>

    <div style="display: none">
      <div style="display: none" class="userKakaoId"><%= kakaoId %></div>
      <div style="display: none" class="userUniv"><%= univName %></div>
      <div style="display: none" class="userName"><%= userName %></div>
      <div style="display: none" class="userEmail"><%= kakaoEmail %></div>
    </div>

    <!-- Unity Game View rendering -->
    <div class="webgl-content" style="margin: 0">
      <div id="unityContainer" style="width: 100vw; height: 100vh"></div>
    </div>

    <!-- EmitJoin for connecting socket -->
    <button class="start-btn" id="btn_id" onclick="emitJoin()">
      GO TO PLAZA
    </button>

    <script src="../static/js/chat.js"></script>
  </body>
  <script src="../static/js/timer.js"></script>
  <script>
    let timerInterv;

    function getRandomArbitrary(min, max) {
      return Math.random() * (max - min) + min;
    }

    function emitJoin() {
      const currentURL = location.href;
      splittedURL = currentURL.split("/");
      url = "";
      for (let i = 3; i < splittedURL.length; i++) {
        url += splittedURL[i];
        if (i !== splittedURL.length - 1) {
          url += "/";
        }
      }

      plazaPosX = getRandomArbitrary(-10, 9);
      plazaPosY = 2;
      plazaPosZ = getRandomArbitrary(-14, 10);

      socket.emit(
        "LOGIN",
        JSON.stringify({
          userName: `<%= userName %>`,
          kakaoId: "<%= kakaoId %>",
          position: `${plazaPosX}:${plazaPosY}:${plazaPosZ}`,
          avatar: "1",
          url: url,
        })
      );
      document.getElementById("btn_id").style.display = "none";
      document.getElementById("chatWrap").style.display = "block";
      document.getElementById("roomWrap").style.display = "block";
    }
  </script>

  <!-- chatting JS -->
  <script>
    var chatWindow = document.getElementById("chatWindow");
    var sendButton = document.getElementById("chatMessageSendBtn");
    var chatInput = document.getElementById("chatInput");

    socket.on("connect", function () {
      socket.emit("newUserConnect", `<%= userName %>`);
    });

    socket.on("updateMessage", function (data) {
      if (data.name === "SERVER") {
        var info = document.getElementById("info");
        info.innerHTML = data.message;

        setTimeout(() => {
          info.innerText = "";
        }, 1000);
      } else {
        var chatMessageEl = drawChatMessage(data);
        chatWindow.appendChild(chatMessageEl);

        chatWindow.scrollTop = chatWindow.scrollHeight;
      }
    });

    sendButton.addEventListener("click", function () {
      var message = chatInput.value;

      if (!message) return false;

      socket.emit("sendMessage", {
        message,
      });

      chatInput.value = "";
    });

    function drawChatMessage(data) {
      var wrap = document.createElement("p");
      var message = document.createElement("span");
      var name = document.createElement("span");

      name.innerText = data.name;
      message.innerText = data.message;

      name.classList.add("output__user__name");
      message.classList.add("output__user__message");

      wrap.classList.add("output__user");
      wrap.dataset.id = socket.id;

      wrap.appendChild(name);
      wrap.appendChild(message);

      return wrap;
    }
  </script>
</html>
